@model ProjectTask

    <div class="d-flex align-items-center p-3 my-3 bg-purple rounded shadow-sm">
        <img class="mr-3" src="/IMG/T-TASKS.jpg" alt="" width="48" height="48">
        <div class="lh-100">
            <h1 class="mb-0 lh-100">@Model.TaskName</h1>
            <div class="mb-0 lh-100">State:
                
                @{
                    if (TaskState.Done == Model.State)
                    { <p style="color: green">Done</p> }
                    else if (TaskState.InProgress == Model.State)
                    { <p style="color: mediumturquoise">In progress</p>}
                    else
                    { <p style="color: red">ToDo</p>} 
                }

            </div>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">

        @{
            if (Model.AnyFields)
            {
                <h6 class="border-bottom border-gray pb-2 mb-0">All Fields</h6>

                foreach (var field in Model.Fields)
                {
                    @await Html.PartialAsync("EditFieldPartial", new EditFieldViewModel()
                        { TaskGuid = Model.Id, FieldGuid = field.Id, Descrition = field.Description })
                }
            }
            else
            {
                <h6 class="border-bottom border-gray pb-2 mb-0">No fiels!</h6>
            }

        }

        <hr>

        @await Html.PartialAsync("NewFieldPartial", new AddTaskFieldViewModel() { TaskGuid = Model.Id })

    </div>