@model LoginViewModel

<login class="active">

    @{
        using (Html.BeginForm("Log", "RegLog", FormMethod.Post, new { @class = "form-signin" }))
        {
            @Html.ValidationSummary(true);


            <img class="col-mb-4" src="/IMG/L-LOGIN.jpg" style="margin-left: 128px;" width="72" height="72">

            <h1 class="h3 col-mb-3 font-weight-normal">Please sign in</h1>

            <div class="form-wrap">
                <label asp-for="Email" , class="sr-only">Email</label>

                <div>
                    <input class="form-control" asp-for="Email" , type="email" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-wrap">
                <label asp-for="Password" , class="sr-only">Password</label>

                <div>
                    <input class="form-control" asp-for="Password" , type="password" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-wrap" style=" display: flex;">
                <p>Remember? </p>
                <label asp-for="Remember" , class="sr-only">Remember</label>

                <div>
                    <input class="form-control" asp-for="Remember" , type="checkbox" style="height: 30px; width: 30px; margin-left: 10px;">
                    <span asp-validation-for="Remember" class="text-danger"></span>
                </div>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

            <div onclick="switchLogReg()" class="switch-btn" data-currentpage="log" id="logRegSwitch">
                <span class="btn-outline-warning" id="logRegSwitchCircle">
                    Switch to register
                </span>
            </div>
            <p class="mt-5 mb-3 text-muted">© 2017-2021</p>

        }
    }
</login>